@charset "UTF-8";

$bg-color: #222;
$bg-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
$title-font: 'Courgette', cursive;;

@mixin no-decoration {
	text-decoration: none;
}

@mixin transition($sec ,$prop:all, $func:ease) {
	-webkit-transition: 	$sec $prop $func;
	-moz-transition: 	$sec $prop $func;
	-o-transition: 		$sec $prop $func;
	-ms-transition: 		$sec $prop $func;
	transition: 			$sec $prop $func;
}

// @mixin transition-duration($sec) {
// 	-webkit-transition:  	$sec;
// 	-moz-transition: 	$sec;
// 	-o-transition: 		$sec;
// 	transition: 			$sec;
// }

// @mixin transition-all($prop, $sec, $func) {
// 	-webkit-transition: 	$prop $sec $func;
// 	-moz-transition: 	$prop $sec $func;
// 	-o-transition: 		$prop $sec $func;
// 	-ms-transition: 		$prop $sec $func;
// 	transition: 			$prop $sec $func;
// }

@mixin transform($deg) {
	-webkit-transform: 	rotateY($deg);
	-moz-transform: 	rotateY($deg);
	-ms-transform: 	rotateY($deg);
	-o-transform: 		rotateY($deg);
	transform: 			rotateY($deg);
}

@mixin transform-two-effect($x, $y, $z, $deg) {
	-webkit-transform:  translate3d($x, $y, $z) rotateX($deg);
	-moz-transform: 	translate3d($x, $y, $z) rotateX($deg);
	-ms-transform: 	translate3d($x, $y, $z) rotateX($deg);
	-o-transform: 		translate3d($x, $y, $z) rotateX($deg);
	transform: 			translate3d($x, $y, $z) rotateX($deg);
}

@mixin transform-origin($x, $y) {
	-webkit-transform-origin: 	$x $y;
	-moz-transform-origin: 		$x $y;
	-o-transform-origin: 		$x $y;
	-ms-transform-origin: 		$x $y;
	transform-origin: 			$x $y;
}

@mixin transform-style($style) {
	-webkit-transform-style: 	$style;
	-moz-transform-style: 		$style;
	-o-transform-style: 			$style;
	-ms-transform-style: 		$style;
	transform-style: 			$style;
}

@mixin perspective($length) {
	-webkit-perspective: 	$length;
	-moz-perspective: 		$length;
	-o-perspective: 			$length;
	-ms-perspective: 		$length;
	perspective: 			$length;
}

@mixin perspective-origin($x, $y) {
	-webkit-perspective-origin: 	$x $y;
	-moz-perspective-origin: 	$x $y;
	-o-perspective-origin: 		$x $y;
	-ms-perspective-origin: 		$x $y;
	perspective-origin: 			$x $y;
}

#header {
	.navbar-fixed-top {
		top: -56px;
		@include transition(0.7s, top, ease-in-out);
	}

	.navbar-fixed-top.show {
		top: 0;
		@include transition(1s, top, ease-in-out);
	}

	.logo {
		display: inline-block;
		@include no-decoration;
		font: {
			weight: bold;
		}
		
		&:hover {
			@include no-decoration;
			cursor: pointer;
			@include transition(1s);
			@include transform(360deg);
		}
	}

	.gnb {
		display: inline-block;
		overflow: hidden;
		vertical-align: top;
		@include perspective(600px);
		@include perspective-origin(50%, 53%);

		span {
			display: block;
			position: relative;
			padding: 0 2px;
			@include transition(400ms, all, ease);
			@include transform-origin(50%, 0%);
			@include transform-style(preserve-3d);
		}

		&:hover span {
			@include transform-two-effect(0px, 0px, -30px, 90deg);
		}

		span:after {
			content: attr(data-title);
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			padding: 0 2px;
			color: #fff;
			@include transform-origin(50%, 0%);
			@include transform-two-effect(0px, 105%, 0px, -90deg);
		}
	}
}

#video {
	position: relative;
	.name {
		position: absolute;
		top: 0;
		left: 20%;
		font: {
			family: 'Courgette', cursive;
			size: 35px;
		}
		color: #fff;
	}
	.title {
		position: absolute;
		top: 40%;
		width: 100%;
		margin: 0 auto;
		font: {
			family: 'Pacifico', cursive;
			size: 80px;
		}
		color: #fff;
		text: {
			align: center;
		}
		z-index: 1000;
	}
}

#skill {
	position: relative;
	margin: {
		top: -5px;
	}
	.well {
		.glyphicon {
			top: 3px;
		}
		border: {
			style: none;
			radius: 0;
		}
		background: {
			color: #fff;
			image: none;
		}
		h2 {
			font: {
				family: $title-font;
			}	
		}
		.skill_part {
			float: left;
			width: 50%;
			height: 0;
			padding-bottom: 50%; /*acts as fluid height*/
			overflow:hidden;
  			position:relative;
			#wordCloud, #chart {
				position:absolute;
				width:100%;
				height:100%;
				border: {
					width: 5px;
					style: solid;
					color: #eee;
					radius: 5px;
				}
			}
		}
	}
}

/***************************************************************
* bar chart style
***************************************************************/

#chart text {
  font: 11px sans-serif;
}

rect.background {
  fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}


/****************************************************************
*
*
*  media query 설정
*
*
*****************************************************************/

@media all and (max-width: 900px) {
	#video {
		.title {
			font: {
				size: 50px;
			}
		}
	}

	#skill {
		.well {
			height: 500px;
			h2 {
				font: {
					size: 20px;
				}
			}
			.skill_part {
				clear: both;
				width: 100%;
				padding-bottom: 100%;
			}
		}
	}
}

@media all and (max-width: 640px) {
	#video {
		.name {
			font: {
				size: 20px;
			}
		}

		.title {
			font: {
				size: 30px;
			}
		}
	}	
}